/*  import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

:root {
  --color-bg-crimson: #dc143c;
  --color-font-crimson: #dc143c;
  --color-white: #fff;
  --color-font-white: #fff;
  --color-dark: #000;
  --color-font-black: #000;
  --background--555: #555;
  --background--f1f1f1: #f1f1f1;
  --background--888: #888;
  --color-bg-b3b3b3: #b3b3b3;
  --color-bg-333: #333;
  --color-bg-white: #fff;
}



body {
  overflow: -moz-hidden-unscrollable;
  height: 100%;
}

.container {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.body {
  background: #0c192c;
}

.bubble {
  position: relative;
  display: flex;
  width: 100%;
}

.bubble span {
  position: relative;
  width: 30px;
  height: 30px;
  background: #4fc3dc;
  margin: 0 4px;
  border-radius: 50%;
  box-shadow: 0 0 0 10px #4fc3dc44,
    0 0 50px #4fc3dc, 0 0 100px #4fc3dc;
  animation: animate 10s linear infinite;
  animation-duration: calc(225s / var(--1));
}


.bubble span:nth-child(even) {
  background: #ff2d75;
  box-shadow: 0 0 0 10px #4fc3dc44,
    0 0 50px #4fc3dc, 0 0 100px #4fc3dc;
}

@keyframes animate {
  0% {
    transform: translateY(150vh) scale(0);
  }

  100% {
    transform: translateY(-10vh) scale(1);
  }
}


.contentS {
  color: var(--color-bg-crimson);
  background: transparent;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  min-height: 150vh;
  height: 150vh;
  width: 100%;
  /* margin: 50px 0; */
}

/* 
.baton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
*/

.buttonn {
  z-index: 100;
}

.inner-content {
  width: 500px;
  height: 250px;
  display: none;
  border-radius: 8px;
  border: 1px solid var(--colr);
}

.original-btn a span {
  /* color: var(--color-bg-crimson); */
  background: transparent;

  justify-content: space-between;
  padding: 8px 20px;
  border: none;
}

.original-btn {
  width: 500px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

/* btn style started */
/* btn style started */

.original-btn a {
  position: relative;
  color: var(--clr);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 0.1em;
  padding: 10px 30px;
  transition: 0.5s;
  background: var(--color);
  /* background: #2b687e99; */
  filter: drop-shadow(0 0 0 5px var(--clr)) drop-shadow(0 0 20px var(--clr));

}

.original-btn a:hover {
  letter-spacing: 0.25em;
  background: var(--clr);
  color: var(--clr);
  box-shadow: 0 0 35px var(--clr);
}

.original-btn a::before {
  content: '';
  position: absolute;
  inset: 2px;
  background: #27282c;
}


.original-btn a span {
  position: relative;
  z-index: 1;
}

.original-btn a i {
  position: absolute;
  inset: 0;
  display: block;

}

.original-btn a i::before {
  content: '';
  position: absolute;
  width: 18px;
  height: 6px;
  border: 2px solid var(--color);
  left: 80%;
  top: -3.5px;
  transition: 0.5s;
  background: #27282c;
  transform: translateX(-50%);
}

.original-btn a:hover i::before {
  width: 28px;
  left: 20%;
  border: 2px solid var(--clr);
}

.original-btn a i::after {
  content: '';
  position: absolute;
  width: 18px;
  height: 6px;
  border: 2px solid var(--color);
  left: 20%;
  bottom: -3.5px;
  transition: 0.5s;
  background: #27282c;
  transform: translateX(-50%);
}

.original-btn a:hover i::after {
  width: 28px;
  left: 80%;
  border: 2px solid var(--clr);
}

.conteiner-box7 {
  display: flex;
}

.img-box7 img {
  background-size: cover;
  width: 220px;
  height: 247px;
  border-radius: 4%;
}

.text-content7 {
  width: 280px;
  /* display: flex; */
  /* justify-content: center; */
  padding: 10px;
}

.text-content7 h4 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  border-bottom: 2px solid var(--clrh4);
  margin: 0 30px 10px 30px;
  color: var(--clrh4);
}

.text-content7 p {
  color: var(--clrp);
  padding: 0 10px;
}

.text-content7 p span {
  color: var(--clrsp);
}

.text-content7 a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--clrabt);
  transition: 0.5s;
  text-transform: uppercase;
}

.text-content7 a span {
  border: 1px solid var(--clrabt);
  color: var(--clrabt);
  padding: 5px 15px;
  margin: 10px 3px 0 0px;
  transition: 0.5s;
  border-radius: 6px;
  letter-spacing: 0.10em;

}

.text-content7 a:hover span {
  /* background: var(--clrabt); */
  /* color: #fff; */
  transition: 0.5s;
  /* border: none; */
  letter-spacing: 0.25em;
  box-shadow: 0 0 5px var(--clrabt), 0 0 1px var(--clrabt);
}

.text-content7 a span:hover {
  filter: drop-shadow(0 0 5px var(--clrabt)) drop-shadow(0 0 15px var(--clrabt)) drop-shadow(0 0 25px var(--clrabt)) drop-shadow(0 0 100px var(--clrabt));
}






















/* Hudai */
/* 
@keyframes animate {
  0% {
    transform: translateY(-50vh) scale(0);
  }

  100% {
    transform: translateY(400vh) scale(1);

  }
}
 */
/* .body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-bg-whicontainerte);
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
}

.container{
  display: flex;
  justify-content: space-between;
  align-items: center;
} */

/* Contents Stared */